* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write your code here. */

.faqs-container {
  background-color: #f1f5f8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-inside-container {
  background-color: #ffffff;
  padding: 10px;
}

.heading {
  text-align: center;
}
